body{
    min-width: 300px;
    text-align: center;
    background-color: #333333;
    border-radius: 50%
}
h1{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
}
.offwhite{
    color: #f7ede2;
}
.orange{
    color: #EE7B30;
}
p, .button{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    color: #f7ede2;
    font-weight: 300;
}
.button{
    margin: auto;
    background-color:#CBCBD4;
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:2rem;
    width:5rem;
    border-radius:1rem;
    cursor: pointer;

}
.row-off{
    margin-right: 6px;
    margin-bottom: 3px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.735);
}
.row-on{
    margin-left: 6px;
    margin-bottom: 3px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.735);
}
.circle{
    position:absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color:#8AA8A1;
    pointer-events: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    background-color: #EE7B30;
    margin: 10px 0;
}
a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
@keyframes moveCircleRight {
    from{
        left: 0;
        background-color:#8AA8A1;

    }
    to{
        left: 100%;
        transform: translateX(-100%);
        background-color:#FBE36d;
    }
}
@keyframes moveCircleLeft {
    from{
        left: 100%;
        transform: translateX(-100%);
        background-color:#FBE36d;
    }
    to{
        left: 0;
        background-color:#8AA8A1;
    }
}
@keyframes backgroundYellow {
    from{
        background-color:#CBCBD4;
    }
    to{
        background-color:#FDFCA3;
    }
    
}
@keyframes backgroundOlive {
    from{
        background-color:#FDFCA3;
    }
    to{
        background-color:#CBCBD4;
    }
    
}